anthropic==0.86.0
asyncpg==0.31.0
fastapi==0.115.12
greenlet==3.2.4
httpx==0.28.1
python-jose==3.5.0
pytz==2025.2
SQLAlchemy==2.0.43
standardwebhooks==1.0.1
svix==1.66.0
uvicorn==0.21.1
python-dotenv==1.1.0
